<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keva</title>
    <link rel="stylesheet" href='/static/style.css' />
    <link rel="icon" type="image/x-icon" href="/static/icon.png">
</head>
<body>
    <div id="main">
    <h1><a href="/">Keva</a></h1>
    <h3>Keva is a simple key-value database inspired by replit's DB.</h3>
    <h3>You can use Keva by sending simple HTTP GET requests to the server. Here are the endpoints : </h3>
    <p>Base URL : keva.pancakedev.repl.co.  Replace the db_key argument by your database's key provided earlier.</p>
    <br>
    <h3><u><code>/set/db_key/key/value/type</code></u> Adds/Updates a key-value pair to your database, replace the query arguments by the key and value of your key-value pair<br>You have to add the type of the data you're sending so the server understands it. The supported types are <code>int</code>, <code>float</code>, <code>str</code>, <code>list</code>, <code>dict</code>, <code>bool</code> and <code>json</code>
    <br>
    Example : <br>
    <code>/new/7w7a6SOkukH996Ax/username/gugu256/str</code></h3><br>
    <h3><u><code>/get/db_key/key</code></u> Returns a JSON object containing the key you provided and its value</h3><br>
    <h3><u><code>/get_keys/db_key</code></u> Returns a JSON list containing all the keys of your database</h3><br>
    <h3><u><code>/get_entire/db_key</code></u> Returns a JSON object containing your whole database</h3><br>
    <h3><u><code>/del/db_key/key</code></u> Deletes the key your provided from your database</h3>
    <h3><u><code>/reset/db_key</code></u> Resets your database to an empty dictionary. Note : this does not delete your database, it just clears it, if you want to delete your database, go to the homepage and click "Delete my database"</h3>
    <u><h3>Example usage in python : </h3></u>
    <!--img id="sample_image" src="/static/example.png" alt="Example usage of the Keva database in python"-->
    <script src="https://gist.github.com/gugu256/696444aecefda1f9f1122c1a85b6dc92.js"></script>
    </div>
</body>
</html>