<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keva</title>
    <link rel="stylesheet" href='/static/style.css' />
    <link rel="icon" type="image/x-icon" href="/static/icon.png">
</head>
<body>
    <div id="main">
    <h1><a href="/">Keva</a></h1>
    <h3>Keva is a simple key-value database</h3>
    <a href="/gen"><button role="button" class="button-56">Create my database</button></a>
    <br>
    <a href="/docs"><button role="button" class="button-56">Read documentation</button></a>
    <br>
    <button onclick="delDB()" role="button" class="button-56">Delete my database</button>
    <br><br>
    <h3><u><a href="https://gugu256.github.io" target="_blank">Created by gugu256</a></u><br><br><u><a href="https://github.com/gugu256/Keva" target="_blank">Keva is 100% open-source</a></u></h3>
    </div>

    <script>
        function delDB() {
            sure = confirm("Are you 100% sure you want to delete your database? (You can't get it back afterwards)")
            if (sure == true) {
                dbname = prompt("Enter the key of your database : ")
                window.location = ("/drop/" + dbname)
            }
        }
    </script>
    
</body>
</html>