<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keva</title>
    <link rel="stylesheet" href='/static/style.css' />
    <link rel="icon" type="image/x-icon" href="/static/icon.png">
   
</head>
<body>
    <div id="main">
    <h1><a href="/">Keva</a></h1>
    <h3>Congratulations!<br>You now have your very own Keva database, its key is <code>{{ dbkey }}</code>, this key is the only way you can access and modify your database, so DO NOT lose it.</h3>
    <a href="/docs"><button role="button" class="button-56">Read documentation</button></a>
    </div>
</body>
</html>